.logo .fa-dragon {
  font-size: 3em;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $dark;
}

header a {
  text-decoration: none;
  color: $dark;
}

header nav {
  width: 30%;
}

.signIn {
  cursor: pointer;
}
