form {
  width: 60%;
  margin-top: 30px;
}
form p {
  width: 50%;
  border-bottom: 2px solid $light;
  border-radius: 9px;
}
form p input {
  background-color: $dark;
  color: $light;
  width: 80%;
  padding: 15px;
  border: none;
}

input::placeholder {
  color: $light;
}

input:focus {
  outline: none;
}

.notif {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.form_deco {
  border: none;
}
