.img_presentation {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.text_presentation {
  margin-left: 10px;
  text-align: justify;
}

.createArticle {
  text-decoration: none;
  color: $dark;
}
